body{
    display: flex;
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.first{
    border-style: inset;
}
.second{
    border-style: inset;
}
.third{
    border-style: inset;
}
.fourth{
    border-style: inset;
}
.fifth{
    border-style: inset;
}
.sixth{
    border-style: inset;
}